body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://i.ibb.co/hZRrBSk/triplestamptools-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: hsl(158deg, 40%, 90%);
    text-shadow: 1px 1px 0 #000;
    background-color: hsla(0deg, 0%, 20%, 1);
    background-blend-mode: overlay;
}

header {
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: hsl(158deg, 40%, 90%);
    border-bottom: 4px solid hsl(158deg, 40%, 30%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0 0 -12px 0;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: hsl(158deg, 40%, 50%);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    display: flex;
    justify-content: center;
    padding: 1px 0;
    border-radius: 5px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: hsl(158deg, 40%, 90%);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
    background-color: hsl(158deg, 40%, 30%);
}

.container {
    max-width: 800px;
    padding: 20px;
    background: hsla(158deg, 25%, 30%, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    margin: 20px auto; /* Center the container horizontally */
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: hsl(158deg, 40%, 90%);
    margin-bottom: 5px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.section-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.section {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    min-width: 200px; /* Ensure sections don't shrink too small */
}

.value-label {
    font-size: 26px;
    margin: 0 auto -5px auto;
    color: hsl(158deg, 40%, 90%);
}

.value-display {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
    color: hsl(158deg, 40%, 90%);
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.controls button,
.controls.checklist-button {
    flex: 1 1 45%; /* Ensure two columns on most screens */
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.controls button:hover,
.controls.checklist-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Active state */
button.active,
button.active:hover {
    background-color: hsl(158deg, 50%, 30%);
    cursor: default;
    transition: none; /* Disable transition */
}

/* Paused state */
button.paused,
button.paused:hover {
    background-color: hsl(380deg, 50%, 40%);
    cursor: default;
    transition: none; /* Disable transition */
}

.progress-bar-container {
    width: 97%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto 10px auto;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: hsl(380deg, 50%, 40%);
    width: 0;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
    position: relative;
}

.progress-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.progress-text.hidden {
    display: none;
}

.information-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    margin-top: 20px;
}

.information-box {
    flex: 1;
    margin: 3px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.back-to-top {
    text-align: center;
    margin: 20px 0 0 0;
}

.back-to-top a {
    text-decoration: none;
    color: hsl(158deg, 40%, 90%);
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-top a:hover {
    background-color: hsl(158deg, 40%, 30%);
    color: #fff;
}

/* Inventory Search Tool Styles */
.search-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.results-section {
    margin-top: 20px;
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures that all items are centered vertically */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    gap: 10px; /* Adds space between columns */
}

.result-column {
    flex: 1;
    padding: 0 10px;
    word-wrap: break-word;
}

.result-column:nth-child(1) { /* Year column */
    flex: 0.5; /* Slightly narrower */
}

.result-column:nth-child(2) { /* Month column */
    flex: 0.75; /* Slightly wider */
}

.result-column:nth-child(3) { /* Value column */
    flex: 2; /* Most space for value */
}

/* Checklist Styles */
#apparel-production-checklist {
    margin-top: 50px;
}

.checklist-section {
    margin-bottom: 20px;
}

.checklist-section-label {
    font-weight: bold;
    font-size: large;
}

.checklist-items {
    list-style-type: none; /* Remove bullets from nested lists */
    margin: 5px;
}

#checklist li {
    margin-bottom: 10px;
}

#checklist li input[type="checkbox"] {
    margin-right: 10px;
}

.section-toggle:checked + .checklist-items {
    display: none;
}

.section-toggle {
    margin-right: 10px;
    cursor: pointer;
    transform: scale(1.2);
}

#reset-checklist-button:hover {
    background-color: #45a049;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: hsl(158deg, 40%, 90%);
    padding: 20px 0;
    text-align: center;
    border-top: 4px solid hsl(158deg, 40%, 30%);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
}

footer a {
    color: hsl(158deg, 40%, 70%);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: hsl(158deg, 40%, 50%);
}


/* Adjusting the layout for smaller screens */
@media (max-width: 480px) {
    
    header h1 {
        /* margin-bottom: 10px; */
        font-size: 30px;
    }
    
    .section-group {
        flex-direction: column;
    }

    .controls button {
        flex: 1 1 40%; /* Adjusted to fit two columns on smaller mobile screens */
        font-size: 14px;
    }

    .value-display {
        font-size: 32px;
    }

    .value-label {
        font-size: 16px;
    }

    .information-group {
        flex-direction: column;
    }

    .information-box {
        margin: 10px 0;
    }

    .container {
        max-width: 800px;
        padding: 20px;
        background: hsla(158deg, 25%, 30%, 0.7);
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(3px);
        margin: 20px 3px;
    }
    
}
