body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f8f8f8;
}

.button-container,
.remove-btn {
  text-align: center;
  margin-top: 20px;
}

.remove-btn {
  color: #d9534f;
  cursor: pointer;
  margin-top: 10px;
}

.summary {
  margin-top: 20px;
  font-family: monospace;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
  white-space: pre-wrap;  /* Preserve white space and line breaks */
  word-wrap: break-word;  /* Ensure long words break */
}
